.header {
	padding: 30px 0;
}

.header__inner {
	display: flex;
	align-items: center;
}

.header__nav {
	margin-left: auto;
}

.nav__list {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.nav__item {
	margin-left: 30px;

	&:nth-child(1) {
		margin-left: 0;
	}

	&:last-child {
	margin-left: 40px;
	border-bottom: 1px solid #333333;
transform: rotate(0.16deg);
	}
}

.nav__link {
	font-weight: 400;
	font-size: 15px;
	line-height: 150%;
	text-align: center;
	color: #333333;
	text-decoration: none;
}

.nav__link--active {
	color: #666666;
}

@media only screen and (max-width:375px) {
  .header__link {
    // width: 100%;
    width: 127px;
  }
}